<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary"> Add Contact :</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, dolorem consequuntur. Exercitationem, cumque?</p>

    </div>

  </div>
</div>
<!-- Contact Form -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <form (submit)="createContact()">
        <div class="mb-2">
          <input required="true"  [(ngModel)]="contact.name" name="name" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="name" name="" id="">
        </div>
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.email" name="email" [ngModelOptions]="{standalone:true}" class="form-control"  placeholder="email" name="" id="">
        </div>
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.mobile" name="mobile" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="phone" name="" id="">
        </div>
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.company" name="company" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="company" name="" id="">
        </div>
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.photo" name="photo" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="photo" name="" id="">
        </div>
        <div class="mb-2">
          <input required="true" [(ngModel)]="contact.title" name="title" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="title" id="">
        </div>
        <div class="mb-2">
          <select [(ngModel)]="contact.groubId" name="groupId" [ngModelOptions]="{standalone:true}" class="form-control" *ngIf="groups.length>0">
            <option value=""> Select Group</option>
            <option [value]="group.id"  *ngFor="let group of groups"> {{group.name}} </option>
          </select>

        </div>
        <div class="mb-2">

          <button class="btn btn-primary"> Create</button>
          <a class="btn btn-dark ms-3" routerLink="/"> Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img [src]="contact.photo" alt="" class="gonImage">
     </div>
  </div>
</div>
